button{
block-size: 50px;
width: 50px;
margin-right: 5px;
margin-bottom: 5px;
}



input{
height:25px;
width: 50px;
}

 #eql{

    width: 227px;
} 

#g{
width: 233px;
margin: 40px auto;
background-color: rgb(43, 53, 78);
    padding: 20px;
    border-radius: 10px;

opacity: 80%;
}